node_modules
.next
.git
.gitignore
npm-debug.log
.env
.env.docker
storage
__tests__
jest.config.ts
jest.setup.ts
coverage
docker-compose.yml
docker-compose.*.yml
README*.md
nginx/
.vscode
.idea
*.log
prisma/migrations